<%- include('./partials/header.ejs')%>
    <main>
        <h1>Soccer at Strikers! <button type="button"><img src="images/edit-button.png" alt="Edit" class="button"></button> 
            <button type="button"><img src="images/delete-button.png" alt="Delete" class="button"></button></h1>
        <div class="event_details">
            <img src="images/soccerball-image.png" alt="soccerball image" class="event_image">
            <p>Host: Strikers Soccer Center</p>
            <p>Date and Time: Fri, Jan 27, 2023, 8:00pm - 9:00pm</p>
            <p>Location: Striker Soccer Center - Indian Trail</p>
            <p>Details: Come join us for a fun and competetive game of soccer here at Strikers Soccer Center - Indian
                Trail</p>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>